<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Тестовое задание для НГС</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.4/remodal.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.4/remodal-default-theme.min.css"/>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="http://yastatic.net/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.0.4/remodal.min.js"></script>
</head>

<body>
<div id="map" class="map"></div>
<div data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1 id="city-title"></h1>
    <div class="mb10">
        <span class="city-temperature" id="city-temp"></span>
        <br/>
        <span class="city-heat-index">ощущается как <span id="city-heat"></span></span>
    </div>
    <div>
        <span id="city-precip-title"></span> <br/>
        Ветер: <span id="city-wind"></span> м/с <br/>
        Давление: <span id="city-pressure"></span> мм <br/>
        Влажность: <span id="city-humidity"></span>% <br/>
        Восход / закат: <span id="city-sunrise"></span> − <span id="city-sunset"></span>
    </div>
    <div id="container" class="graph-container"></div>
</div>
</body>
<script>
    var cities = JSON.parse('{{ cities|raw }}');
    var current_forecast_handler = '{{ app.url_generator.generate('forecast') }}';
</script>
<script type="text/javascript" src="js/script.js"></script>

</html>